<div class="container mt-3">
    <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 pl-0 pr-0">
                    <div class="ui-block">
                            <div class="widget w-list ui-block-content">
                                <h6 class="title">Quản Lý Trang</h6>
                                <ul>
                                    <li>
                                        <a [routerLink]="['../']">Thông tin trang</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['./']">Thành viên</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['../role']">Vai trò trên trang</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
        <div class="col-xl-9 col-lg-9 col-md-12">
            <div class="ui-block">
                <div class="ui-block-content">
                    <div class="row">
                        <div class="col col-12">
                            <div class="d-flex">
                                <select class="p-2 mr-2" (change)="filterChanged($event.target.value)" [(ngModel)]="selectedValue">
                                    <option value="0">Những người thích trang này</option>
                                    <option value="1">Những người theo dõi trang này</option>
                                    <!--<option value="2">Banned People</option>-->
                                </select>
                                <form id="filter">
                                    <input class="p-2" placeholder="Tiềm kiếm" type="text" [(ngModel)]="searchKey" name="searchKeyInput">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-block">
                <div class="ui-block-content">
                    <div class="row">
                        <div class="col col-12">    
                            <ul class="widget w-friend-pages notification-list friend-requests">
                                <li class="pl-0" *ngFor="let model of users | filter:searchKey ; trackBy: trackByIndex">
                                    <div class="author-thumb">
                                        <img [src]="model?.pictureUrl" width="36" height="36" alt="{{ model?.name }}">
                                    </div>
                                    <div class="notification-event">
                                        <a [routerLink]="['/app/user/', model.userName]" class="h6 notification-friend">{{ model?.name | filter }}</a>
                                    </div>
                                    <span class="f-right">
                                        <button class="btn btn-normal f-right mx-1" (click)="remove(model)"><i class="fas fa-ban"></i> Xóa </button>
                                    </span>
                                </li>
                            </ul>
                            <div materialInput bsEl></div>
                        </div>
                        <div class="col col-12" *ngIf="likes?.length < 1 && selectedValue == 0">
                            <div class="no-friends">
                                <svg class="olymp-happy-faces-icon">
                                    <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
                                </svg>
                                <span>Chưa có lượt thích nào</span>
                            </div>
                        </div>
                        <div class="col col-12" *ngIf="followers?.length < 1 && selectedValue == 1">
                            <div class="no-friends">
                                <svg class="olymp-happy-faces-icon">
                                    <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
                                </svg>
                                <span>Chưa có lượt theo dõi nào</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>