<div class="container">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="ui-block">

                            <div class="ui-block-title">
                                <h6 class="title">Assign a New Page Role</h6>
                            </div>

                            <div class="ui-block-content">
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="d-flex">
                                            <input class="p-2 w-100" type="text" placeholder="Type a name or email"/>
                                            <select class="p-2" style="width: auto">
                                                <option>Admin</option>
                                                <option>Editor</option>
                                            </select>
                                            <button class="btn btn-normal m-0">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui-block">
                            <div class="ui-block-title">
                                <h6 class="title">Existing Page Roles</h6>
                            </div>
                            <div *ngIf="admins?.length > 0">
                                <div class="ui-block-title ui-block-title-small">
                                    <h6 class="title">Admins</h6>
                                </div>
                                <ul class="widget w-friend-pages notification-list friend-requests">
                                    <li class="inline-items" *ngFor="let model of admins; let i = index">

                                        <div class="author-thumb">
                                            <img [src]="model?.pictureUrl" width="36" height="36"
                                                 alt="{{ model?.name }}">
                                        </div>
                                        <div class="notification-event">
                                            <a class="h6 notification-friend">{{ model?.name }}</a>
                                            <p>Admin</p>
                                        </div>
                                        <span class="f-right">
                                            <button class="btn btn-normal f-right mx-1" type="button" (click)="edit(i)"> <i
                                                class="fa fa-edit"></i> Edit </button>
                                        </span>

                                    </li>
                                </ul>
                            </div>
                            <div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1"
                                 role="dialog" aria-labelledby="createUserModal" aria-hidden="true"
                                 [config]="{backdrop: 'static'}">
                                <div class="modal-dialog">
                                    <div #modalContent class="modal-content w-100">
                                        <div class="modal-header">
                                            <h6 class="modal-title">
                                                <span>Edit Roles</span>
                                            </h6>
                                            <button (click)="close()" type="button" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="news-feed-form">
                                                <form (ngSubmit)="f.form.valid && submitPost()" #f="ngForm" novalidate>
                                                    <div class="">
                                                        <select class="p-2" style="width: auto">
                                                            <option>Admin</option>
                                                            <option>Editor</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn btn-primary mr-auto" (click)="removeEdit(i)">Remove
                                            </button>
                                            <button class="btn btn-normal" (click)="close()">Cancel</button>
                                            <button class="btn btn-normal" (click)="saveEdit()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div *ngIf="editors?.length > 0">
                                <div class="ui-block-title ui-block-title-small">
                                    <h5 class="title">Editors</h5>
                                </div>
                                <ul class="widget w-friend-pages notification-list friend-requests">
                                    <li class="inline-items" *ngFor="let model of editors">

                                        <div class="author-thumb">
                                            <img [src]="model?.pictureUrl" width="36" height="36"
                                                 alt="{{ model?.name }}">
                                        </div>
                                        <div class="notification-event">
                                            <a class="h6 notification-friend">{{ model?.name }}</a>
                                            <p>Editor</p>
                                        </div>
                                        <span class="f-right">
                                        <button class="btn btn-normal f-right mx-1"><i
                                            class="fa fa-edit"></i> Edit </button>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div materialInput bsEl></div>

        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 pl-0">
            <div class="ui-block">
                <div class="your-profile">
                    <div class="ui-block-title ">
                        <span class="text-bold title">Manage Page</span>
                    </div>

                    <ul class="your-profile-menu">
                        <li>
                            <a [routerLink]="['../']">Page Infor</a>
                        </li>
                        <li>
                            <a [routerLink]="['../member']">Members</a>
                        </li>
                        <li>
                            <a [routerLink]="['./']">Page Roles</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</div>