<div class="container mt-3">
    <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 pl-0 pr-0">
                    <div class="ui-block">
                        <div class="widget w-list ui-block-content">
                            <h6 class="text-bold title">Quản Lý Trang</h6>
                            <ul>
                                <li>
                                    <a [routerLink]="['../']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Thông tin trang</a>
                                </li>
                                <li>
                                    <a [routerLink]="['../member']" routerLinkActive="active">Thành viên</a>
                                </li>
                                <li>
                                    <a [routerLink]="['./']" routerLinkActive="active">Vai trò trên trang</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        <div class="col-xl-9 col-lg-9 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="ui-block">
                            <div class="ui-block-title">
                                <h6 class="title">Chỉ định một vai trò mới trên trang</h6>
                            </div>
                            <div class="ui-block-content">
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="d-flex">
                                            
                                            <ng-select class="mr-auto w-100 h6 p-0" [items]="users" [(ngModel)]="selectedUser" bindLabel="name">
                                                <ng-template ng-option-tmp let-item="item">
                                                        <div class="inline-items">
                                                                <div class="">
                                                                    <img [src]="item?.pictureUrl" width="30" height="30"
                                                                         alt="{{ item?.name }}">
                                                                </div>
                                                                <div class="ml-2">
                                                                    <a class="h6 notification-friend" style="color: #888da8">{{ item?.name }}</a>
                                                                </div>
                                                        </div>
                                                    </ng-template>
                                            </ng-select>
                                            
                                            <select class="p-2 mr-2 mb-2" style="width: auto" [(ngModel)]="selectedValueAdd">
                                                <option value="1">Quản trị viên</option>
                                                <option value="2">Biên tập viên</option>
                                            </select>
                                            <button class="btn btn-normal mb-2" (click)="addRole()">Thêm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-block">
                            <div class="ui-block-title">
                                <h6 class="title">Vai trò hiện tại trên trang</h6>
                            </div>
                            <div *ngIf="pageAdmins?.length > 0">
                                <div class="ui-block-title ui-block-title-small">
                                    <h6 class="title">Quản trị viên</h6>
                                </div>
                                <ul class="widget w-friend-pages notification-list friend-requests">
                                    <li class="inline-items" *ngFor="let model of pageAdmins; let i = index">
                                        <div class="author-thumb">
                                            <img [src]="model?.pictureUrl" width="36" height="36"
                                                 alt="{{ model?.name }}">
                                        </div>
                                        <div class="notification-event">
                                            <a [routerLink]="['/app/user/', model.userName]" class="h6 notification-friend">{{ model?.name }}</a>
                                            <p>Quản trị viên</p>
                                        </div>
                                        <span class="f-right">
                                            <button class="btn btn-normal f-right mx-1" type="button" (click)="editAdmin(i)"> <i
                                                class="fa fa-edit"></i> Chỉnh sửa </button>
                                        </span>

                                    </li>
                                </ul>
                            </div>
                            <div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1"
                                 role="dialog" aria-labelledby="createUserModal" aria-hidden="true"
                                 [config]="{backdrop: 'static'}">
                                <div class="modal-dialog">
                                    <div #modalContent class="modal-content w-100">
                                        <div class="modal-header">
                                            <h6 class="modal-title">
                                                <span>Chỉnh sửa vai trò trên trang</span>
                                            </h6>
                                            <button (click)="close()" type="button" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="news-feed-form">
                                                <form (ngSubmit)="f.form.valid && submitPost()" #f="ngForm" novalidate>
                                                    <div class="d-flex">
                                                        <h6 class="my-auto w-25">Vai trò</h6>    
                                                        <select class="p-2 w-75" [(ngModel)]="selectedValueEdit" name="selectedValue">
                                                                <!--(change)="filterChanged($event.target.value)"-->
                                                            <option value="0">Quản trị viên</option>
                                                            <option value="1">Biên tập viên</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn btn-primary mr-auto" (click)="removeRole()">Hủy vai trò
                                            </button>
                                            <button class="btn btn-normal" (click)="close()">Hủy bỏ</button>
                                            <button class="btn btn-normal" (click)="saveEdit()">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="pageEditors?.length > 0">
                                <div class="ui-block-title ui-block-title-small">
                                    <h5 class="title">Biên tập viên</h5>
                                </div>
                                <ul class="widget w-friend-pages notification-list friend-requests">
                                    <li class="inline-items" *ngFor="let model of pageEditors; let i = index">
                                        <div class="author-thumb">
                                            <img [src]="model?.pictureUrl" width="36" height="36"
                                                 alt="{{ model?.name }}">
                                        </div>
                                        <div class="notification-event">
                                            <a class="h6 notification-friend">{{ model?.name }}</a>
                                            <p>Biên tập viên</p>
                                        </div>
                                        <span class="f-right">
                                        <button class="btn btn-normal f-right mx-1" (click)="editEditor(i)"><i
                                            class="fa fa-edit"></i> Chỉnh sửa </button>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div materialInput bsEl></div>
        </div>
        
    </div>
</div>