<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Tạo Trang Mới</h6>
    </div>
    <div class="ui-block-content">



        <div class="row">

            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group  small-input">
                    <label class="control-label">Tên</label>
                    <input class="form-control" placeholder="" type="text" [(ngModel)]="model.name">
                </div>

            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group  small-input">
                    <label class="control-label">Mô Tả</label>
                    <input class="form-control" placeholder="" type="text" [(ngModel)]="model.description">
                </div>

            </div>

            <div class="col col-12">
                <button class="btn btn-primary f-right" (click)="save()">Create</button>
            </div>


        </div>

    </div>

</div>

<div materialInput bsEl></div>