<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Your pages</h6>
    </div>
    <div class="ui-block-content">


        <!-- Personal Account Settings Form -->

        <div class="row">
            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6" *ngIf="model.pageCredit>0">

                <div class="ui-block user-page-item create-page">
                    <div class="upi-item-container">
                        <a [routerLink]="['/app/setting/create-page']" class="full-block"></a>
                        <div class="upi-page-info">
                            <div class="name">
                                <a [routerLink]="['/app/setting/create-page']" class="  btn btn-control bg-blue">
                                    <svg class="olymp-plus-icon">
                                        <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-plus-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="description">Page credits: {{model.pageCredit}}</div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-6" *ngFor="let p of model.pages">
                <div class="ui-block user-page-item">

                    <div class="upi-item-container">
                        <div class="upi-item-cover-img">
                            <img [src]="p.coverUrl || ''" alt="cover">
                        </div>

                        <div class="upi-item-avatar-img">
                            <img [src]="p.pictureUrl || ''" alt="avatar">

                        </div>

                        <div class="upi-page-info">
                            <div class="name"><a [routerLink]="['/app/page/',p.userName]" class="h6 author-name">{{p.name}}</a></div>
                            <div class="description">{{p.description}}</div>
                        </div>
                        <div class="upi-page-stats">
                            <div class="likes">
                                <div class="h6">{{p.likeCount}}</div>
                                <div class="title">Likes</div>
                            </div>
                            <div class="follows">
                                <div class="h6">{{p.followCount}}</div>
                                <div class="title">Followers</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

<div materialInput bsEl></div>