


<div class="container">
    <div class="row">

        <!-- Main Content -->

        <div class="col-8 col-md-8">

                <div id="col-12 col-md-12">
                    <div class="ui-block">
                        <div class="ui-block-title">
                            <h6 class="title">Friend's Likes</h6>
                        </div>
                        <div class="ui-block-content">
                            <a href="#">
                                <img src="theme/img/avatar38-sm.jpg" alt="author">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar24-sm.jpg" alt="user">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar36-sm.jpg" alt="author">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar35-sm.jpg" alt="user">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar34-sm.jpg" alt="author">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar33-sm.jpg" alt="author">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar32-sm.jpg" alt="user">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar31-sm.jpg" alt="author">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar30-sm.jpg" alt="author">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar29-sm.jpg" alt="user">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar28-sm.jpg" alt="user">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar27-sm.jpg" alt="user">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar26-sm.jpg" alt="user">
                            </a>
                            <a href="#">
                                <img src="theme/img/avatar25-sm.jpg" alt="user">
                            </a>
                        </div>
                    </div>
                    <div class="ui-block">
                        <div class="ui-block-title">
                            <h6 class="title">Public Posts</h6>
                        </div>
                        <div class="ui-block-content">

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12">

                    <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
                        <svg class="olymp-three-dots-icon">
                            <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                        </svg>
                    </a>
                </div>
        </div>
        <!-- ... end Main Content -->
        <!-- Right Sidebar -->

        <div class="col-4 col-md-4">

            <div class="ui-block">
                <div class="row">
                    <div class="col text-center py-3"><h6>2,060</h6> <a routerLink="../likes">Total Likes</a></div>
                    <div class="col text-center py-3"><h6>2,054</h6> <a routerLink="../followers">Total Follows</a></div>
                </div>
            </div>

            <div class="ui-block pb-3">
                <input class="p-2" type="text" placeholder="invite your friend like page" />
                <div class="p-2">
                    <div class="author-thumb d-inline">
                        <img src="../../theme/img/avatar22-sm.jpg" alt="author">
                    </div>
                    <div class="d-inline">
                        <a href="#" class="notification-friend">Stagg Clothing</a>
                    </div>
                    <div class="notification-icon d-inline f-right">
                        <a href="#" class="accept-request my-1 mr-2">
                            Invite
                        </a>
                    </div>
                </div>
                <div class="px-2">
                    <div class="author-thumb d-inline">
                        <img src="../../theme/img/avatar21-sm.jpg" alt="author">
                    </div>
                    <div class="d-inline">
                        <a href="#" class="notification-friend">Stagg</a>
                    </div>
                    <div class="notification-icon d-inline f-right">
                        <a href="#" class="accept-request my-1 mr-2">
                            Invite
                        </a>
                    </div>
                </div>
                <hr />
                <a class="d-block text-center" href="#">See All Friends</a>

            </div>


            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Favourite Pages</h6>
                </div>

                <!-- W-Friend-Pages-Added -->

                <ul class="widget w-friend-pages-added notification-list friend-requests">
                    <li class="inline-items">
                        <div class="author-thumb">
                            <img src="theme/img/avatar41-sm.jpg" alt="author">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">The Marina Bar</a>
                            <span class="chat-message-item">Restaurant / Bar</span>
                        </div>
                        <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
                            <a href="#">
                                <svg class="olymp-star-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            </a>
                        </span>
                    </li>

                    <li class="inline-items">
                        <div class="author-thumb">
                            <img src="theme/img/avatar42-sm.jpg" alt="author">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">Tapronus Rock</a>
                            <span class="chat-message-item">Rock Band</span>
                        </div>
                        <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
                            <a href="#">
                                <svg class="olymp-star-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            </a>
                        </span>

                    </li>

                    <li class="inline-items">
                        <div class="author-thumb">
                            <img src="theme/img/avatar43-sm.jpg" alt="author">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">Pixel Digital Design</a>
                            <span class="chat-message-item">Company</span>
                        </div>
                        <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
                            <a href="#">
                                <svg class="olymp-star-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            </a>
                        </span>
                    </li>

                    <li class="inline-items">
                        <div class="author-thumb">
                            <img src="theme/img/avatar44-sm.jpg" alt="author">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">Thompson’s Custom Clothing Boutique</a>
                            <span class="chat-message-item">Clothing Store</span>
                        </div>
                        <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
                            <a href="#">
                                <svg class="olymp-star-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            </a>
                        </span>

                    </li>

                    <li class="inline-items">
                        <div class="author-thumb">
                            <img src="theme/img/avatar45-sm.jpg" alt="author">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">Crimson Agency</a>
                            <span class="chat-message-item">Company</span>
                        </div>
                        <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
                            <a href="#">
                                <svg class="olymp-star-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            </a>
                        </span>
                    </li>

                    <li class="inline-items">
                        <div class="author-thumb">
                            <img src="theme/img/avatar46-sm.jpg" alt="author">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6">Mannequin Angel</a>
                            <span class="chat-message-item">Clothing Store</span>
                        </div>
                        <span class="notification-icon" data-toggle="tooltip" data-placement="top" data-original-title="ADD TO YOUR FAVS">
                            <a href="#">
                                <svg class="olymp-star-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                            </a>
                        </span>
                    </li>
                </ul>

                <!-- .. end W-Friend-Pages-Added -->
            </div>

        </div>

        <!-- ... end Right Sidebar -->

    </div>
</div>


