<div class="ui-block">
    <tabset class="friend-items">
        <tab heading="All friends" id="tab1">

            <ul class="widget w-friend-pages notification-list friend-requests">
                <li class="inline-items">
                    <div class="author-thumb">
                        <img src="theme/img/avatar41-sm.jpg" alt="author">
                    </div>
                    <div class="notification-event">
                        <a href="#" class="h6 notification-friend">The Marina Bar</a>
                        <span class="chat-message-item">Works at Ho Chi Minh City</span>
                    </div>
                    <span class="notification-icon">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-1x fa-user-plus"></i> Add Friend </button>
                    </span>

                </li>
            </ul>
        </tab>
        <tab heading="Mutual friends">
            <div class="no-friends">
                <svg class="olymp-happy-faces-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use></svg>
                <span>There are no mutual friends right now</span>
            </div>
           
        </tab>
    </tabset>
   
</div>