<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

               
            
            <div class="ui-block">

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">UPCOMING EVENTS 2016</h6>
                    <button class="btn btn-normal f-right" data-toggle="modal" data-target="#create-event">
                        <i class="fa fa-plus"></i>
                        Create Event
                    </button>
                </div>

                <div class="modal" id="create-event" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog window-popup create-event" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h6 class="title">Create an Event</h6>
                            </div>

                            <div class="modal-body">
                                <div class="form-group label-floating">
                                    <select class="">
                                        <option value="MA">Private Event</option>
                                        <option value="FE">Personal Event</option>
                                    </select>
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">Event Host</label>
                                    <input class="form-control" placeholder="" value="terinarian" type="text">
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">Event Name</label>
                                    <input class="form-control" placeholder="" value="Take Querty to the Veterinarian" type="text">
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">Event Location</label>
                                    <input class="form-control" placeholder="" value="" type="text">
                                </div>

                                <div class="form-group date-time-picker label-floating">
                                    <label class="control-label">Event Date</label>
                                    <input class="form-control" type="date" name="eventDate">
                                </div>

                                <div class="form-group date-time-picker label-floating">
                                    <label class="control-label">Event Time</label>
                                    <input class="form-control" type="time" name="eventTime">
                                </div>


                                <div class="form-group label-floating">
                                    <label class="control-label">Event Description</label>
                                    <textarea class="form-control" placeholder="">I need to take Querty for a check up and ask the doctor if he needs a new tank.</textarea>
                                </div>

                                <button class="btn btn-breez btn-lg full-width">Create Event</button>

                            </div>
                        </div>
                    </div>
                </div>


                <table class="event-item-table">
                    <tbody>
                        <tr class="event-item">

                            <td class="upcoming">
                                <div class="date-event">

                                    <svg class="olymp-small-calendar-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-small-calendar-icon"></use></svg>

                                    <span class="day">28</span>
                                    <span class="month">August</span>
                                </div>
                            </td>
                            <td class="author">
                                <div class="event-author inline-items">
                                    <!--<div class="author-thumb">
                            <img src="theme/img/avatar66-sm.jpg" alt="author">
                        </div>-->
                                    <div class="author-date">
                                        <a href="#" class="author-name h6">Green Goo in Gotham</a> hosted by <a href="#" class="author-name h6">Admin</a>
                                        <time class="published" datetime="2017-03-24T18:18">Saturday at 9:00pm</time>
                                    </div>
                                </div>
                                <div class="location">
                                    <div class="place inline-items">
                                        <svg class="olymp-add-a-place-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg>
                                        <span>Gotham Bar</span>
                                    </div>
                                </div>
                                <div class="description">
                                    <p class="description">We’ll be playing in the Gotham Bar in May. Come and have a great time with us! Entry: $12</p>
                                </div>
                            </td>
                            <td class="picture">
                                <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-0/c0.29.200.200/p200x200/39056490_1087082091466692_5829209268594671616_n.jpg?_nc_cat=0&oh=63ebfc1ad83dd21245b816479ac03015&oe=5BF836BF" />
                            </td>

                        </tr>
                        <tr class="event-item">

                            <td class="upcoming">
                                <div class="date-event">

                                    <svg class="olymp-small-calendar-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-small-calendar-icon"></use></svg>

                                    <span class="day">28</span>
                                    <span class="month">August</span>
                                </div>
                            </td>
                            <td class="author">
                                <div class="event-author inline-items">
                                    <!--<div class="author-thumb">
                            <img src="theme/img/avatar66-sm.jpg" alt="author">
                        </div>-->
                                    <div class="author-date">
                                        <a href="#" class="author-name h6">Green Goo in Gotham</a> hosted by <a href="#" class="author-name h6">Admin</a>
                                        <time class="published" datetime="2017-03-24T18:18">Saturday at 9:00pm</time>
                                    </div>
                                </div>
                                <div class="location">
                                    <div class="place inline-items">
                                        <svg class="olymp-add-a-place-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg>
                                        <span>Gotham Bar</span>
                                    </div>
                                </div>
                                <div class="description">
                                    <p class="description">We’ll be playing in the Gotham Bar in May. Come and have a great time with us! Entry: $12</p>
                                </div>
                            </td>
                            <td class="picture">
                                <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-0/c0.29.200.200/p200x200/39056490_1087082091466692_5829209268594671616_n.jpg?_nc_cat=0&oh=63ebfc1ad83dd21245b816479ac03015&oe=5BF836BF" />
                            </td>

                        </tr>
                        <tr class="event-item">

                            <td class="upcoming">
                                <div class="date-event">

                                    <svg class="olymp-small-calendar-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-small-calendar-icon"></use></svg>

                                    <span class="day">28</span>
                                    <span class="month">August</span>
                                </div>
                            </td>
                            <td class="author">
                                <div class="event-author inline-items">
                                    <!--<div class="author-thumb">
                            <img src="theme/img/avatar66-sm.jpg" alt="author">
                        </div>-->
                                    <div class="author-date">
                                        <a href="#" class="author-name h6">Green Goo in Gotham</a> hosted by <a href="#" class="author-name h6">Admin</a>
                                        <time class="published" datetime="2017-03-24T18:18">Saturday at 9:00pm</time>
                                    </div>
                                </div>
                                <div class="location">
                                    <div class="place inline-items">
                                        <svg class="olymp-add-a-place-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg>
                                        <span>Gotham Bar</span>
                                    </div>
                                </div>
                                <div class="description">
                                    <p class="description">We’ll be playing in the Gotham Bar in May. Come and have a great time with us! Entry: $12</p>
                                </div>
                            </td>
                            <td class="picture">
                                <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-0/c0.29.200.200/p200x200/39056490_1087082091466692_5829209268594671616_n.jpg?_nc_cat=0&oh=63ebfc1ad83dd21245b816479ac03015&oe=5BF836BF" />
                            </td>

                        </tr>
                        <tr class="event-item">

                            <td class="upcoming">
                                <div class="date-event">

                                    <svg class="olymp-small-calendar-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-small-calendar-icon"></use></svg>

                                    <span class="day">28</span>
                                    <span class="month">August</span>
                                </div>
                            </td>
                            <td class="author">
                                <div class="event-author inline-items">
                                    <!--<div class="author-thumb">
                            <img src="theme/img/avatar66-sm.jpg" alt="author">
                        </div>-->
                                    <div class="author-date">
                                        <a href="#" class="author-name h6">Green Goo in Gotham</a> hosted by <a href="#" class="author-name h6">Admin</a>
                                        <time class="published" datetime="2017-03-24T18:18">Saturday at 9:00pm</time>
                                    </div>
                                </div>
                                <div class="location">
                                    <div class="place inline-items">
                                        <svg class="olymp-add-a-place-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use></svg>
                                        <span>Gotham Bar</span>
                                    </div>
                                </div>
                                <div class="description">
                                    <p class="description">We’ll be playing in the Gotham Bar in May. Come and have a great time with us! Entry: $12</p>
                                </div>
                            </td>
                            <td class="picture">
                                <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-0/c0.29.200.200/p200x200/39056490_1087082091466692_5829209268594671616_n.jpg?_nc_cat=0&oh=63ebfc1ad83dd21245b816479ac03015&oe=5BF836BF" />
                            </td>

                        </tr>
                    </tbody>
                </table>

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">PAST EVENTS</h6>
                </div>

                <div class="no-past-events">
                    <svg class="olymp-month-calendar-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
                    <span>There are no past events <br>to show</span>
                </div>
            </div>
        </div>
    </div>
</div>