<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">UPCOMING EVENTS</h6>
                    <a [routerLink]="['../event/editor']" type="button" class="btn btn-normal f-right" *ngIf="page.isEditor">
                        <i class="far fa-calendar-plus"></i> Add Event
                    </a>
                </div>
                <!-- <div class="no-past-events" *ngIf="eventList.length == 0">
                    <svg class="olymp-month-calendar-icon">
                        <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use>
                    </svg>
                    <span>There are no events <br>to show</span>
                </div> -->
                <div id="no-post" *ngIf="!eventList || eventList.length == 0">
                    <div class="ui-block p-5 m-auto text-center"><i class="fa fa-3x fa-spin fa-spinner"></i></div>
                </div>
                <table class="event-item-table">
                    <tbody>
                        <tr class="event-item" *ngFor="let event of eventList">

                            <td class="upcoming">
                                <div class="date-event">

                                    <svg class="olymp-small-calendar-icon">
                                        <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-small-calendar-icon"></use>
                                    </svg>

                                    <span class="day">{{event.startDate | amDateFormat:'DD'}}</span>
                                    <span class="month">{{event.startDate | amDateFormat:'MMM'}}</span>
                                </div>
                            </td>
                            <td class="author">
                                <div class="event-author inline-items">
                                    <div class="author-date">
                                        <a [routerLink]="['/app/page',event.page.userName,'event',event.guid]" class="author-name h6">{{event.eventName}}</a>
                                        hosted by <user-link [user]="event.user" [page]="event.page"></user-link>
                                        <time class="published">
                                            {{event.startDate| amDateFormat:'dddd,
                                            DD/MM/YYYY'}} <span *ngIf="event.endDate">- {{event.endDate|
                                                amDateFormat:'dddd, DD/MM/YYYY'}}</span>
                                        </time>
                                    </div>
                                </div>
                                <div class="location">
                                    <div class="place inline-items">
                                        <svg class="olymp-add-a-place-icon">
                                            <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-add-a-place-icon"></use>
                                        </svg>
                                        <span>{{event.location}}</span>
                                    </div>
                                </div>
                                <div class="description">
                                    <p class="description">{{event.description}}</p>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <!-- 
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">PAST EVENTS</h6>
                </div>

                <div class="no-past-events">
                    <svg class="olymp-month-calendar-icon">
                        <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use>
                    </svg>
                    <span>There are no past events <br>to show</span>
                </div> -->
            </div>
        </div>
    </div>
</div>