<div id="LoginArea">

    <div class="content-bg-wrap"></div>


    <!-- Header Standard Landing  -->

    <div class="header--standard header--standard-landing" id="header--standard">
        <div class="container">
            <div class="header--standard-wrap">

                <a href="../app/home/" class="logo">
                    <div class="img-wrap">
                        <img src="assets/logo_inv.png" alt="Olympus">
                    </div>
                    <div class="title-block">
                            <h6 class="logo-title">TRƯỜNG ĐH GTVT CS2</h6>
                            <div class="sub-title">BAN LIÊN LẠC CỰU SINH VIÊN</div>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <!-- ... end Header Standard Landing  -->

    <div class="header-spacer--standard"></div>

    <div class="container">
        <div class="row display-flex">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="landing-content">
                    <h1>Xin chào bạn</h1>
                    <p>
                        Đây là website chính thức của Ban liên lạc cựu sinh viên của trường ĐH GTVT CS2. Nếu các bạn là một cựu sinh viên, hãy đăng ký tham gia ngay! 
                    </p>
                 
                </div>
            </div>

            <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>


</div>