<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">About</h6>
        <a class="f-right d-block">Edit</a>
    </div>
    <div class="ui-block-content">

        <!-- Page Information Form  -->

        <div>
            <div class="row">

                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">    
                    <div class="form-group  small-input">
                        <label class="control-label">Page Name</label>
                        <p class="info">page name</p>
                    </div>

                    <!--<div class="form-group  small-input">
        <label class="control-label">Page Name</label>
        <input class="form-control" placeholder="" type="text" [(ngModel)]="model.name">
    </div>-->
                    <div class="form-group  small-input is-empty">
                        <label class="control-label">Phone Number</label>
                        <p class="info">page name</p>

                    </div>

                    <!--<div class="form-group  small-input is-empty">
                        <label class="control-label">Phone Number</label>
                        <input class="form-control" placeholder="" type="text" [(ngModel)]="model.phone">
                    </div>-->
                </div>

                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group  small-input">
                        <label class="control-label">Email</label>
                        <p class="info">abc@email.com</p>

                    </div>
                    <div class="form-group  small-input">
                        <label class="control-label">Occupation</label>
                        <p class="info">Occupation</p>

                    </div>
                </div>

                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group  small-input">
                        <label class="control-label">About</label>
                        <p class="info">Đây là trang kết nối các bạn sinh viên ĐH GTVT đã ra trường. Được quản lý bởi đội ngũ các cán bộ trong Ban Đào Tạo và Hội cựu sinh viên trường ĐH GTVT</p>

                    </div>
                    
                    <div class="form-group  small-input">
                        <label class="control-label">description</label>
                        <p class="info"> name Occupation lorem name Occupation lorem page name</p>

                    </div>
                </div>
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group with-icon  small-input">
                        <label class="control-label">Address</label>
                        <p class="info">450 Lê Văn Việt, Tăng Nhơn Phú A, Quận 9, Hồ Chí Minh</p>
                    </div>

                    <div class="form-group with-icon  small-input is-empty">
                        <label class="control-label">Phone</label>
                        <p class="info">028 3896 6798</p>
                    </div>

                    <div class="form-group small-input">
                        <i class="fas fa-globe c-globe" aria-hidden="true"></i>
                        <p class="info">http://google.com</p>
                    </div>
                    <div class="form-group small-input">
                        <i class="fab fa-facebook-f c-facebook" aria-hidden="true"></i>
                        <p class="info">http://facebook.com</p>

                    </div>
                    <div class="form-group small-input">
                        <i class="fab fa-twitter c-twitter" aria-hidden="true"></i>
                        <p class="info">http://twitter.com</p>

                    </div>
                    <div class="form-group small-input">
                        <i class="fab fa-skype c-twitter" aria-hidden="true"></i>
                        <p class="info">http://skype.com</p>
                    </div>

                </div>

                <!--<div class="col col-lg-9 col-md-9 col-sm-12 col-12">
                </div>

                <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
                    <button class="btn btn-primary btn-lg full-width" (click)="save()">Save</button>
                </div>-->
            </div>
        </div>
        <!-- ... end Page Information Form  -->
    </div>
</div>
