<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Followers</h6>
    </div>
    <div class="ui-block-content">
        <div class="p-2">
            <div class="author-thumb d-inline">
                <img src="../../theme/img/avatar22-sm.jpg" alt="author">
            </div>
            <div class="d-inline">
                <a href="#" class="notification-friend">Stagg Clothing</a>
            </div>
            <div class="notification-icon d-inline f-right">
                <a href="#" class="accept-request my-1 mr-2">
                    Delete
                </a>
            </div>
            <div class="notification-icon d-inline f-right">
                <a href="#" class="accept-request my-1 mr-2">
                    Block
                </a>
            </div>
        </div>
        <div class="px-2">
            <div class="author-thumb d-inline">
                <img src="../../theme/img/avatar21-sm.jpg" alt="author">
            </div>
            <div class="d-inline">
                <a href="#" class="notification-friend">Stagg</a>
            </div>
            <div class="notification-icon d-inline f-right">
                <a href="#" class="accept-request my-1 mr-2">
                    Delete
                </a>
            </div>
            <div class="notification-icon d-inline f-right">
                <a href="#" class="accept-request my-1 mr-2">
                    Block
                </a>
            </div>
        </div>
    </div>
</div>
