<div class="ui-block" (removePost)="emitRemovePost()">
    <!-- Post -->
    <article class="post">

        <div class="post__author author vcard inline-items">
            <img [src]="post.author.pictureUrl" alt="author" *ngIf="post.publishType == 'user'">
            <img [src]="post.page.pictureUrl" alt="author" *ngIf="post.publishType == 'page'">

            <div class="author-date">
                <user-link [user]="post.author" [linkClass]="'h6 post__author-name'"
                           *ngIf="post.publishType == 'user'"></user-link>
                <user-link [page]="post.page" [linkClass]="'h6 post__author-name'"
                           *ngIf="post.publishType == 'page'"></user-link>
                <div class="post__date" title=" {{post.dateCreated }}">
                    <span class="published">
                        {{post.dateCreated | amTimeAgo }}
                    </span>
                </div>
            </div>

            <div class="more" *ngIf="isShowEdit">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     class="olymp-three-dots-icon">
                    <use xlink:href="/theme/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                </svg>

                <ul class="more-dropdown">
                    <li>
                        <a (click)="show()" style="cursor: pointer">Chỉnh Sửa Bài Đăng</a>
                    </li>
                    <li>
                        <a (click)="onDeletePost()" style="cursor: pointer">Xóa Bài Đăng</a>
                    </li>
                </ul>

                <div bsModal #createCategoryModal="bs-modal" class="modal fade" (onShown)="shown" tabindex="-1"
                     role="dialog" aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
                    <div class="modal-dialog">
                        <div #modalContent class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">
                                    <span>Sửa Bài Đăng</span>
                                </h6>
                                <button (click)="close()" type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="news-feed-form">
                                    <form (ngSubmit)="f.form.valid && submitPost()" #f="ngForm" novalidate>
                                        <div class="">
                                            <div class="post__author author-thumb d-inline-block f-left">
                                                <img [src]="post.author.pictureUrl" alt="author"
                                                     *ngIf="post.publishType == 'user'">
                                                <img [src]="post.page.pictureUrl" alt="author"
                                                     *ngIf="post.publishType == 'page'">
                                            </div>
                                            <div class="form-group with-icon label-floating is-empty">
                                                <textarea class="form-control"
                                                          placeholder="Cập nhật nội dung..."
                                                          [(ngModel)]="textChange"
                                                          name="content">
                                                </textarea>
                                            </div>
                                        </div>
                                        <!-- <div class="add-options-message d-inline-block f-left"
                                             *ngIf="post.postData.pictures?.length > 0">
                                            <ul #imgQueue class="widget  upload-img-holder">
                                                <li *ngFor="let item of post.postData.pictures; let i = index"
                                                    (click)="removeFile(i)" tooltip="CLICK ĐỂ X"
                                                    [ngClass]="{'upload-loading':item.thumbUrl.includes('ajax-loader')}">
                                                    <img class="rounded-0" [src]="item.thumbUrl" alt="{{item.id}}"/>
                                                </li>
                                            </ul>

                                        </div> -->
                                        <!-- <div class="add-options-message">
                                            <a href="javascript:void(0);" class="options-message" data-toggle="tooltip"
                                               data-placement="top" tooltip="THÊM HÌNH ẢNH">
                                                <label class="upload-button" style="margin-bottom:0">
                                                    <input type="file" ngFileSelect [options]="options"
                                                           (uploadOutput)="onUploadOutput($event)"
                                                           [uploadInput]="uploadInput" multiple style="display:none">
                                                    <svg class="olymp-camera-icon">
                                                        <use
                                                            xlink:href="theme/svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                                                    </svg>
                                                </label>
                                            </a>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="close()" class="btn btn-primary">Hủy bỏ</button>
                                <button type="button" (click)="submitPost()" class="btn btn-normal">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="content-text" [innerHtml]="post.contentText "></div>

        <widget-post-gallery [pictures]="post.postData.pictures"></widget-post-gallery>

        <div class="post-video" *ngIf="false">
            <div class="video-thumb">
                <img src="theme/img/video5.jpg" alt="photo">
                <a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
                    <svg class="olymp-play-icon">
                        <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
                    </svg>
                </a>
            </div>

            <div class="video-content">
                <a href="#" class="h4 title">System of a Revenge - Nothing Else Matters (LIVE)</a>
                <p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempo incididunt ut
                    labore..</p>
                <a href="#" class="link-site">YOUTUBE.COM</a>
            </div>
        </div>

    </article>
    <div class="post-additional-info inline-items">

        <a href="javascript:void(0);" class="post-add-icon inline-items"
           [ngClass]="{'active':post.stats.stats.isReaction}"
           (click)="updateStat(2)">
            <i class="fas fa-thumbs-up"></i>
            <span>{{post.stats.reacts}}</span>
        </a>

    </div>

    <!--<a href="#" class="load-more">
        Load more comment..
    </a>-->

    <ul class="comments-list">
        <post-comment-detail 
            *ngFor="let item of post.comments|slice:0:quantityComment let i = index;" 
            [post]="post" [comment]="item"
            (removeComment)="onRemoveComment(i)"
            >
        </post-comment-detail>
        <span *ngIf="post.comments.length > 5 && quantityComment == 5" class="d-flex justify-content-around" style="cursor: pointer;" (click)="quantityComment = post.comments.length">Xem tất cả bình luận</span>
        <span *ngIf="post.comments.length > 5 && quantityComment == post.comments.length" class="d-flex justify-content-around" style="cursor: pointer;" (click)="quantityComment = 5">Ẩn bớt bình luận</span>
    </ul>
    <post-comment-editor [post]="post" (onPostCommentAdded)="addParentComment($event)"
                         *ngIf="appSession.user"></post-comment-editor>
    <div class="d-none" mediaType></div>
    <!-- .. end Post -->
</div>