<div class="ui-block">
    <!-- Post -->
    <article class="post">

        <div class="post__author author vcard inline-items">
            <img [src]="post.author.pictureUrl" alt="author">

            <div class="author-date">
                <a class="h6 post__author-name fn" href="javascript:;">{{post.author.fullName}}</a>
                <div class="post__date" title=" {{post.dateCreated }}">
                    <span class="published">
                        {{post.dateCreated | amTimeAgo }}
                    </span>
                </div>
            </div>

            <!--<div class="more">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="olymp-three-dots-icon">
                <use xlink:href="/theme/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
            </svg>
            <ul class="more-dropdown">
                <li>
                    <a href="#">Edit Post</a>
                </li>
                <li>
                    <a href="#">Delete Post</a>
                </li>


            </ul>
        </div>-->

        </div>

        <div [innerHtml]="post.contentText ">

        </div>

        <div class="block-photo js-zoom-gallery" *ngIf="postImageCount == 1">
            <div class="row">
                <div class="col-md-12 p">
                    <a [href]="post.postData.pictures[0].pictureUrl">
                        <img [src]="post.postData.pictures[0].thumbUrl"  class="r" alt="photo">
                    </a>
                </div>
            </div>
        </div>

        <div class="block-photo js-zoom-gallery" *ngIf="postImageCount == 2">
            <div class="row">
                <div class="col-md-6 p">
                    <a [href]="post.postData.pictures[0].pictureUrl">
                        <img [src]="post.postData.pictures[0].thumbUrl" class="r1" alt="photo">
                    </a>
                </div>
                <div class="col-md-6 p">
                    <a [href]="post.postData.pictures[1].pictureUrl">
                        <img [src]="post.postData.pictures[1].thumbUrl" class="r1" alt="photo">
                    </a>
                </div>
            </div>
        </div>

        <div class="block-photo js-zoom-gallery" *ngIf="postImageCount == 3">
            <div class="row">
                <div class="col-md-12 p">
                    <a [href]="post.postData.pictures[0].pictureUrl">
                        <img [src]="post.postData.pictures[0].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-6 p">
                    <a [href]="post.postData.pictures[1].pictureUrl">
                        <img [src]="post.postData.pictures[1].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-6 p">
                    <a [href]="post.postData.pictures[2].pictureUrl">
                        <img [src]="post.postData.pictures[2].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
            </div>
        </div>

        <div class="block-photo js-zoom-gallery" *ngIf="postImageCount == 4">
            <div class="row">
                <div class="col-md-12 p">
                    <a [href]="post.postData.pictures[0].pictureUrl">
                        <img [src]="post.postData.pictures[0].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-4 p">
                    <a [href]="post.postData.pictures[2].pictureUrl">
                        <img [src]="post.postData.pictures[2].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-4 p">
                    <a [href]="post.postData.pictures[3].pictureUrl">
                        <img [src]="post.postData.pictures[3].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-4 p">
                    <a [href]="post.postData.pictures[1].pictureUrl">
                        <img [src]="post.postData.pictures[1].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
            </div>
        </div>

        <div class="block-photo js-zoom-gallery" *ngIf="postImageCount > 4">
            <div class="row">
                <div class="col-md-6 p">
                    <a [href]="post.postData.pictures[0].pictureUrl">
                        <img [src]="post.postData.pictures[0].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-6 p">
                    <a [href]="post.postData.pictures[1].pictureUrl">
                        <img [src]="post.postData.pictures[1].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-4 p">
                    <a [href]="post.postData.pictures[2].pictureUrl">
                        <img [src]="post.postData.pictures[2].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-4 p">
                    <a [href]="post.postData.pictures[3].pictureUrl">
                        <img [src]="post.postData.pictures[3].thumbUrl" class="r2" alt="photo">
                    </a>
                </div>
                <div class="col-md-4 p">
                    <a [href]="post.postData.pictures[4].pictureUrl" class="r2" [ngClass]="{'more-photos': postImageCount > 5}">
                        <img [src]="post.postData.pictures[4].thumbUrl" class="r2" alt="photo">
                        <span class="h2" *ngIf="postImageCount > 5">+{{postImageCount-4}}</span>
                    </a>

                    <a *ngFor="let p of post.postData.pictures.slice(5)" [href]="p.pictureUrl" class="d-none">
                        <img [src]="p.thumbUrl" alt="photo">
                    </a>
                </div>
            </div>
        </div>

        <div class="block-photo" *ngIf="false">
            <div class="video-thumb">
                <img src="theme/img/video5.jpg" alt="photo">
                <a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
                    <svg class="olymp-play-icon">
                        <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-play-icon"></use>
                    </svg>
                </a>
            </div>

            <div class="video-content">
                <a href="#" class="h4 title">System of a Revenge - Nothing Else Matters (LIVE)</a>
                <p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempo incididunt ut labore..</p>
                <a href="#" class="link-site">YOUTUBE.COM</a>
            </div>
        </div>

    </article>
    <div class="post-additional-info inline-items">

        <a href="javascript:void(0);" class="post-add-icon inline-items" [ngClass]="{'active':post.stats.stats.isReaction}" (click)="updateStat(2)">
            <svg class="olymp-heart-icon">
                <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
            </svg>
            <span>{{post.stats.reacts}}</span>
        </a>

    </div>

    <!--<a href="#" class="load-more">
        Load more comment..
    </a>-->

    <ul class="comments-list">
        <post-comment-detail *ngFor="let item of post.comments" [post]="post" [comment]="item"></post-comment-detail>
    </ul>
    <post-comment-editor [post]="post" (onPostCommentAdded)="addParentComment($event)"></post-comment-editor>
    <div class="d-none" mediaType></div>
    <!-- .. end Post -->
</div>