<li class="comment-item" (removeComment)="emitRemoveComment()" [ngClass]="{'has-children':comment.children.length > 0}">
    <div class="hover-more post__author author vcard inline-items">
        <img [src]="comment.user.pictureUrl" alt="author">

        <div class="author-date comment-content">
            <user-link [user]="comment.user" [linkClass]="'post__author-name'"></user-link>
            <span class="comment-text" [innerHtml]="comment.commentText"></span>
        </div>
        <div class=" comment-tools">
            <span class="post__date">
                <span class="published" title="{{comment.creationTime}}">
                    {{comment.creationTime | amTimeAgo}}
                </span>
            </span>
            <a href="javascript:void(0);" class="reply" (click)="showEditor(comment.id)" *ngIf="appSession.user">Trả lời</a>
            <div class="d-inline" *ngIf="comment.userId == appSession.userId">
                <a href="javascript:void(0);" class="reply reply-more" (click)="onDeleteComment(comment)" *ngIf="appSession.user">Xóa</a>
                <a href="javascript:void(0);" class="reply reply-more" (click)="onEditComment(comment, comment.id)" *ngIf="appSession.user">Chỉnh sửa</a>
            </div>
        </div>
    </div>

    <ul class="children" *ngIf="comment.children.length > 0">
        <li *ngFor="let ccm of comment.children; let i = index" class="comment-item">
            <div class="hover-more post__author author vcard inline-items">
                <img [src]="ccm.user.pictureUrl" alt="author">

                <div class="author-date  comment-content">
                    <user-link [user]="ccm.user" [linkClass]="'post__author-name'"></user-link>
                    <span class="comment-text">{{ccm.commentText}}</span>
                </div>
                <div class="comment-tools">
                    <span class="post__date">
                        <span class="published" title="{{ccm.creationTime}}">
                            {{ccm.creationTime | amTimeAgo}}
                        </span>
                    </span>
                    <a href="javascript:void(0);" class="reply" (click)="showEditor(comment.id)" *ngIf="appSession.user">Trả lời</a>
                    <div class="d-inline" *ngIf="ccm.userId == appSession.userId">
                        <a href="javascript:void(0);" class="reply reply-more" (click)="onDeleteChildComment(ccm, i)" *ngIf="appSession.user">Xóa</a>
                        <a href="javascript:void(0);" class="reply reply-more" (click)="onEditComment(ccm, comment.id)" *ngIf="appSession.user">Chỉnh sửa</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <post-comment-editor [post]="post" [parentComment]="comment" (onPostCommentAdded)="addParentComment($event)" *ngIf="appSession.user && editor[comment.id] && !isShowUpdate"></post-comment-editor>
    <post-comment-update 
        [post]="post" 
        [parentComment]="comment" 
        [comment] = "selectedComment"
        (cancelEdit)="cancelEdit()" 
        (saveChangeEdit)="saveChangeEdit()" 
        *ngIf="appSession.user && editor[comment.id] && isShowUpdate">
    </post-comment-update>
</li>