<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="ui-block" *ngIf="friendResquestList?.length == 0">
                <div class="no-friends">
                    <svg class="olymp-happy-faces-icon">
                        <use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
                    </svg>
                    <span *ngIf="!isFriend">Không có lời mời kết bạn nào!</span>
                    <span *ngIf="isFriend">Không có bạn chung nào!</span>
                </div>
            </div>
            <div class="ui-block" *ngIf="friendResquestList?.length > 0">
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title" *ngIf="isFriend">BẠN CHUNG</h6>
                    <h6 class="title" *ngIf="!isFriend">MỜI KẾT BẠN</h6>
                </div>
                <ul class="widget w-friend-pages notification-list friend-requests">

                    <app-user-friend-item *ngFor="let model of friendResquestList; let i = index" [model]="model"
                        [isAccept]="isAccept" [isDeline]="isDeline" (removeFriend)="onRemoveFriendRequest(i)">
                    </app-user-friend-item>

                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 pl-0">
            <div class="ui-block">
                <div class="your-profile">
                    <div class="ui-block-title ">
                        <span class="text-bold title">Danh Sách</span>
                    </div>

                    <ul class="your-profile-menu">
                        <li>
                            <a [routerLink]="['../friends']" routerLinkActive="active">Tất cả bạn bè</a>
                        </li>

                        <li>
                            <a *ngIf="isFriend; else friendRequest" [routerLink]="['../requests']" routerLinkActive="active">Bạn Chung</a>
                            <ng-template #friendRequest>
                                <a *ngIf="!isFriend" [routerLink]="['../requests']" routerLinkActive="active">Lòi mời kết bạn</a>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>