<li class="inline-items" (removeFriend)="emitRemoveFriend()">
    <div class="author-thumb">
        <img [src]="model?.pictureUrl" width="36" height="36" alt="{{ model?.name }}">
    </div>
    <div class="notification-event">
        <a class="h6 notification-friend">{{ model?.name }}</a>
        <span class="chat-message-item">{{ model.studentProfile?.studentClass }}</span>
    </div>
    <span class="f-right">
        <button *ngIf="isRequest" class="btn btn-normal f-right mx-1" (click)="declineFriend()"><i class="fas fa-user-secret"></i> Decline </button>
        <button *ngIf="isRequest" class="btn btn-normal f-right mx-1" (click)="acceptFriend()"><i class="fas fa-user-plus"></i> Accept </button>
        <button *ngIf="isAllFriend" class="btn btn-normal f-right mx-1" (click)="unFriend()"><i class="fas fa-user-secret"></i> Unfriend </button>
    </span>
</li>