<!-- Header-BP -->

<header class="header" style="position: sticky;" id="site-header">

    <div class="header-logo">
        <img src="assets/logo.png" alt="Alumni">
    </div>
    <div class="page-title">

        <p class="head-title">
            UNIVERSITY OF TRANSPORT AND COMMUNICATIONS
        </p>
        <p class="head-info text-bold">CAMPUS IN HO CHI MINH CITY</p>
        <p class="head-info">ALUMNI ASSIOSIATION</p>
    </div>
    <div class="header-content-wrapper">
        <form *ngIf="appSession.user" class="search-bar w-search notification-list friend-requests mt-3 height-35 width-250" #searchForm="ngForm" method="post" novalidate (ngSubmit)="headerSearch()">
            <div class="form-group with-button height-35" style="min-height: 35px;">
                <input class="form-control" placeholder="Tìm Kiếm..." type="text" [(ngModel)]="searchModel.keyword" name="keyword">
                <button class="height-35" type="submit">
                    <svg class="olymp-magnifying-glass-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                </button>
            </div>
        </form>
        
        <div class="control-block">

            <div class="author-page author vcard inline-items more" *ngIf="isLoggedin()">
                <div class="author-thumb">
                    <img [src]="appSession.user.profile.pictureUrl" alt="author" class="avatar">
                    <span class="icon-status online"></span>
                    <div class="more-dropdown more-with-triangle">
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">Tài Khoản Của Bạn</h6>
                            </div>

                            <ul class="account-settings">
                                <li>
                                    <a [routerLink]="['/app/newsfeed']">
                                        <svg class="olymp-menu-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                                        <span>Bản Tin</span>
                                    </a>
                                </li>

                                <li>
                                    <a [routerLink]="['/app/user', shownLoginName ,'settings']">
                                        <svg class="olymp-menu-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                                        <span>Cài đặt trang cá nhân</span>
                                    </a>
                                </li>

                                <li *ngIf="true">
                                    <a [routerLink]="['/app/admin']">
                                        <svg class="olymp-logout-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                                        <span>Quản trị</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="javascript:void(0);" (click)="logout()">
                                        <svg class="olymp-logout-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>
                                        <span>Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- <a href="javascript:void(0);" class="author-name fn">
                    <div class="author-title">
                        {{shownLoginName}} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                    </div>
                    <span class="author-subtitle"></span>
                </a> -->
                <!-- <a (click)="onNavigate(shownLoginName)"class="author-name fn">
                    <div class="author-title">
                        {{shownLoginName}} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                    </div>
                    <span class="author-subtitle"></span>
                </a> -->
                <a [attr.href]="'/app/user/'+ shownLoginName" class="author-name fn">
                    <div class="author-title">
                        {{shownLoginName}} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                    </div>
                    <span class="author-subtitle"></span>
                </a>
            </div>
        </div>
        <div [ngClass]="{'f-right': !appSession.user}">

            <a [routerLink]="['/app/home']" [ngClass]="{'pt-3': appSession.user}" class="header-link text-center" >TRANG <Br *ngIf = "appSession.user"> CHỦ</a>
            <a [attr.href]="'/app/page/5dd1ed7cd6ce433e85c38bacb6a75b81'" [ngClass]="{'pt-3': appSession.user}" class="header-link text-center">KIẾN THỨC <br *ngIf = "appSession.user"> CHUYÊN NGÀNH</a>
            <a [attr.href]="'/app/page/09e9650f82ba4b019123dafed039e77e'" [ngClass]="{'pt-3': appSession.user}" class="header-link text-center">TÂM SỰ <br *ngIf = "appSession.user"> CSV</a>
            <a [routerLink]="['/app/tracuu']" [ngClass]="{'pt-3': appSession.user}" class="header-link text-center">TRA CỨU <br *ngIf = "appSession.user"> THÔNG TIN</a>
                
        </div>
                
    </div>
    <!--</div>-->
</header>
<span class="control-icon has-items d-sm-none" (click)="_toggleOpened()">
    <svg class="olymp-menu-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
</span>

<ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()" style="position:absolute">
    <ng-sidebar [(opened)]="_opened"
                [mode]="_MODES[0]"
                [keyClose]="_keyClose"
                [position]="_POSITIONS[_positionNum]"
                [dock]="_dock"
                [dockedSize]="'50px'"
                [autoCollapseHeight]="_autoCollapseHeight"
                [autoCollapseWidth]="_autoCollapseWidth"
                [closeOnClickOutside]="_closeOnClickOutside"
                [closeOnClickBackdrop]="_closeOnClickBackdrop"
                [showBackdrop]="_showBackdrop"
                [animate]="_animate"
                [trapFocus]="_trapFocus"
                [autoFocus]="_autoFocus"
                [sidebarClass]="'demo-sidebar'"
                [ariaLabel]="'My sidebar'"
                (onOpenStart)="_onOpenStart()"
                (onOpened)="_onOpened()"
                (onCloseStart)="_onCloseStart()"
                (onClosed)="_onClosed()"
                (onTransitionEnd)="_onTransitionEnd()">

        <div class="profile-settings-responsive d-block aside-menu">

            <div class="ui-block">
                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Menu</h6>
                    </div>

                    <ul class="your-profile-menu">
                        <li>
                            <a href="28-YourAccount-PersonalInformation.html">Personal Information</a>
                        </li>
                        <li>
                            <a href="29-YourAccount-AccountSettings.html">Account Settings</a>
                        </li>
                        <li>
                            <a href="30-YourAccount-ChangePassword.html">Change Password</a>
                        </li>
                        <li>
                            <a href="31-YourAccount-HobbiesAndInterests.html">Hobbies and Interests</a>
                        </li>
                        <li>
                            <a href="32-YourAccount-EducationAndEmployement.html">Education and Employement</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </ng-sidebar>

</ng-sidebar-container>