<div class="row">
    <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
        <div class="mt-3">
            <img class="d-block mx-auto" id="avatar" alt="avatar" [src]="page.pictureUrl || ''">
            <a class="h3 page-name-header" [routerLink]="['/app/page',page.userName]">{{currentPage.name}}
                <span *ngIf="page.isVerified"><i class="fa fa-check-circle c-twitter"></i></span></a>
            <div class="country text-center">@{{currentPage.userName}}</div>
        </div>
    </div>

    <div class="col-9 col-xl-9 col-lg-9 col-md-9 col-sm-9">

        <div class="top-header top-header-favorit">
            <div class="profile-section p-0">

                <div class="row">
                    <div class="col col-xl-12 col-lg-12 col-md-12">

                        <div class="top-header-thumb">
                            <img id="cover" alt="cover" [src]="page.coverUrl || ''" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xl-12 col-lg-12 col-md-12">
                        <div class="ui-block top-header-command pb-5 mb-3" *ngIf="appSession.user">


                            <div class="btn-group f-right m-0 ml-3 mr-3" dropdown>

                                <button class="btn btn-normal" *ngIf="!page.isFollowed" (click)="follow()">
                                    <i class="fas fa-rss"></i> Theo dõi
                                </button>
                                <button id="button-basic" *ngIf="page.isFollowed" dropdownToggle type="button" class="btn btn-normal dropdown-toggle"
                                    aria-controls="dropdown-basic">
                                    <i class="fas fa-check"></i> Đang theo dõi <i class="fas fa-caret-down"></i>
                                </button>
                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                    <li role="menuitem"><a class="dropdown-item" (click)="unFollow()" style="cursor: pointer">Hủy theo dõi</a></li>
                                </ul>
                            </div>


                            <div class="btn-group f-right m-0 mr-3" dropdown>

                                <button class="btn btn-normal" *ngIf="!page.isLiked" (click)="like()">
                                    <i class="fas fa-thumbs-up"></i> Thích
                                </button>

                                <button id="button-basic" *ngIf="page.isLiked" dropdownToggle type="button" class="btn btn-normal dropdown-toggle" aria-controls="dropdown-basic">
                                    <i class="fas  fa-check"></i> Đã thích <i class="fas fa-caret-down"></i>
                                </button>

                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                    <li role="menuitem"><a class="dropdown-item" (click)="unLike()" style="cursor: pointer">Bỏ thích</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="ui-block panel-success" *ngIf="!appSession.user">
                            <h6 class="align-center p-3">Bạn vui lòng <a [routerLink]="['/account/login']">ĐĂNG NHẬP</a>
                                hoặc <a [routerLink]="['/account/register']">ĐĂNG KÝ</a> để xem được nhiều nội dung hơn</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>