 <div class="ui-block" *ngIf="page">
    <div class="ui-block-content">
        <div class="widget w-list">
            <h6 class="title">Sections</h6>
            <ul>
                <li>
                    <a [routerLink]="['/app/page',page.userName]">Home</a>
                </li>
                <li *ngIf="false">
                    <a  [routerLink]="['/app/page',page.userName,'about']">About</a>
                </li>
                <li>
                    <a  [routerLink]="['/app/page',page.userName,'events']">Events</a>
                </li>
                <li>
                    <a  [routerLink]="['/app/page',page.userName,'followers']">Followers</a>
                </li>
                <li *ngIf="page.isAdmin">
                    <a  [routerLink]="['/app/page',page.userName,'setting']">Settings</a>
                </li>
            </ul>
        </div>

        <div class="widget w-list" *ngIf="page.categories.length > 0">
            <h6 class="title">Categories</h6>
            <ul>
                <li *ngFor="let cat of page.categories">
                    <a  [routerLink]="['/app/page',page.userName,'category',cat.code]">{{cat.name}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>