 <div class="ui-block" *ngIf="page">
    <div class="ui-block-content">
        <div class="widget w-list">
            <h6 class="title">Danh mục</h6>
            <ul>
                <li>
                    <a [routerLink]="['/app/page',page.userName]" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" >Trang Chủ</a>
                </li>
                <li *ngIf="false">
                    <a  [routerLink]="['/app/page',page.userName,'about']" routerLinkActive="active" >Abount</a>
                </li>
                <li>
                    <a  [routerLink]="['/app/page',page.userName,'events']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sự Kiện</a>
                </li>
                <li>
                    <a  [routerLink]="['/app/page',page.userName,'followers']" routerLinkActive #followersActive="routerLinkActive" [ngClass]="{'active': likesActive.isActive || followersActive.isActive }">Đang Theo Dõi</a>
                </li>
                <li>
                    <a  [routerLink]="['/app/page',page.userName,'likes']" routerLinkActive #likesActive="routerLinkActive" style="display: none">Đang Theo Dõi</a>
                </li>
                <li *ngIf="page.isAdmin">
                    <a  [routerLink]="['/app/page',page.userName,'setting']" routerLinkActive="active">Cài đặt</a>
                </li>
            </ul>
        </div>

        <div class="widget w-list" *ngIf="page.categories.length > 0">
            <h6 class="title">Hạng Mục</h6>
            <ul>
                <li *ngFor="let cat of page.categories">
                    <a  [routerLink]="['/app/page',page.userName,'category',cat.code]">{{cat.name}}</a>
                </li>
            </ul>
        </div>
    </div>

</div>