<div class="ui-block">
    <div class="event-item">
        <div class="event-item-picture">
            <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-0/q84/s526x296/39753220_717049161980294_937137318249103360_n.jpg?_nc_cat=0&amp;oh=a46d19c4b4c46410e3b32be2fd4a9e75&amp;oe=5C380FFD">
        </div>
        <div class="event-item-header">
            <div class="ei-date"><span class="ei-date-m">Sep</span>
                <span class="ei-date-d">28</span></div>
            <div class="ei-title">Cho Con Tui Một Vé Về Tuổi Thơ Tui
                <div class="ei-desc">Public · Hosted by Nhà Sau Mưa</div>
            </div>
        </div>
        <div class="event-item-addtional">
                <button class="btn btn-normal m-0" routerLink="./likes" routerLinkActive="active">
                    <i class="fas fa-star"></i> Interested
                </button>
                <button class="btn btn-normal ml-2" routerLink="./likes" routerLinkActive="active">
                    <i class="fas fa-check"></i> Going
                </button>
        </div>
        <div class="event-item-info ">
            <ul class="widget item-block">
                <li><span class="title">When:</span><span class="text"> Saturday at 8 AM – 6 PM ({{evdate  | amTimeAgo }}) </span></li>
                <li><span class="title">Where:</span><span class="text"> Sân Vận Động Hoa Lư 2, Đinh Tiên Hoàng, Ho Chi Minh
                        City, Vietnam </span></li>
                <li><span class="title">Hosted by:</span><span class="text"> Nhà Sau Mưa </span></li>
                <li><span class="title">Description:</span><span class="text"> NGÀY HỘI "CHO CON TUI MỘT VÉ VỀ TUỔI THƠ TUI"
                        Một ngày, một nơi, một thế giới mưa xưa, mà ở đó, chỉ có niềm vui trong veo dành cho mấy bé con,
                        và có lẽ, một chút nhớ thương ngày xưa, cho các phụ huynh quý mến. Lần đầu tiên tại Tp.HCM, Ngày
                        Hội “Mùa mưa này, con tắm mưa xưa” được tổ chức bởi KOVA Trading (thuộc Tập đoàn Sơn và Chống thấm
                        KOVA) sẽ đưa bé quay lại những trải nghiệm thời tuổi thơ của Ba Mẹ mình. Sân chơi được thiết kế đặc
                        biệt nhằm mang lại cho bé những trải nghiệm mùa mưa đong đầy niềm vui mà vẫn an toàn pha lẫn bất
                        ngờ dành cho Ba Mẹ </span></li>
            </ul>
        </div>
    </div>
</div>