    <div class="ui-block">
        <div class="row">
            <div class="col-12 p-2">
                <button class="btn btn-primary btn-primary float-right mr-3 my-0">+ Create Event</button>
            </div>
        </div>
    </div>

    <div class="ui-block">
        <div class="ui-block-content">
            <h6 class="text-center">Get More People to Your Events</h6>
            <p class="text-center">Let people know what you have coming up. Create an event on Facebook.</p>
            <button class="btn btn-primary mx-auto d-block">Create Event</button>
        </div>
    </div>
