<div bsModal #createCategoryModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div #modalContent class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    <span>Create category</span>
                </h6>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group  small-input">
                            <label class="control-label">Code</label>
                            <input class="form-control" placeholder="" type="text" [(ngModel)]="pageCategory.code">
                        </div>   
                        <div class="form-group  small-input">
                            <label class="control-label">Tên</label>
                            <input class="form-control" placeholder="" type="text" [(ngModel)]="pageCategory.name">
                        </div>
                        <div class="form-group  small-input">
                            <label class="control-label">Display Order</label>
                            <input class="form-control" placeholder="" type="text" [(ngModel)]="pageCategory.listOrder">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                    {{l("Cancel")}}
                </button>
                <button (click)="save()" class="btn btn-primary waves-effect">
                    {{l("Save")}}
                </button>
            </div>
        </div>
    </div>
</div>
<div materialInput bsEl></div>