<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Hạng Mục</h6>
    </div>
    <div class="ui-block-content">


        <div class="row">

            <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mã</th>
                            <th scope="col">Tên</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of page.categories">
                            <th scope="row">{{c.listOrder}}</th>
                            <td>{{c.code}}</td>
                            <td>{{c.name}}</td>
                            <td class="text-center"><a href="javascript:;" (click)="createCategory(c)"> <i class="fa fa-edit fa-1x c-orange"></i></a><span
                                    class="p-2"></span><a href="javascript:;" (click)="deleteCategory(c)"> <i class="fa fa-trash fa-1x c-orange"></i></a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="page.categories.length <= 5">

                <button class="btn btn-primary f-right" (click)="createCategory()">Thêm hạng mục</button>
            </div>


        </div>


    </div>
</div>

<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm" style="flex-direction:column">
        <div class="modal-content">
            <div class="modal-header">
                <h6 id="dialog-static-name" class="modal-title pull-left">Tạo Hạng Mục</h6>
                <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group  small-input">
                            <label class="control-label">STT</label>
                            <input class="form-control" placeholder="" type="text" [(ngModel)]="pageCategory.code">
                        </div>
                        <div class="form-group  small-input">
                            <label class="control-label">Mã</label>
                            <input class="form-control" placeholder="" type="text" [(ngModel)]="pageCategory.name">
                        </div>
                        <div class="form-group  small-input">
                            <label class="control-label">Tên</label>
                            <input class="form-control" placeholder="" type="text" [(ngModel)]="pageCategory.listOrder">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">
                    <!--{{l("Cancel")}}-->
                    {{l("Hủy")}}
                </button>
                <button (click)="save()" class="btn btn-primary">
                    {{l("Lưu")}}
                </button>
            </div>
        </div>
    </div>
</div>