<a class="{{linkClass||''}}" [routerLink]="model.url" [popover]="popTemplate" triggers="" [outsideClick]="true" #pop="bs-popover"
    (mouseenter)="showProfile(pop)" (mouseleave)="hideProfile(pop)" placement="top" container="body">{{model.title}}
    <span *ngIf="model.isVerified"> <i class="fa fa-check-circle c-twitter"></i></span></a>
<ng-template #popTemplate>
    <div class="friend-item user-link" (mouseenter)="hoverPop(true)" (mouseleave)="hoverPop(false)">
        <div class="friend-header-thumb">
            <img [src]="model.cover || ''" alt="Cover" style="width:100%; height: auto;border-radius:0">
        </div>

        <div class="friend-item-content">

            <div class="friend-avatar">
                <div class="author-thumb">
                    <img [src]="model.picture || ''" alt="Picture" style="width:100%;height:auto">
                </div>
                <div class="author-content pb-3">
                    <a [routerLink]="model.url" class="h5 author-name">{{model.title}}</a>
                    <!-- <div class="country">Vien thong - (2000 - K42)</div>
                    <div class="control-block-button">
                        <button class="btn btn-normal m-0 mb-3" >
                            <i class="fas  fa-user-plus"></i> Add Friend
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

</ng-template>