<div class="ui-block w-intro">
    <div class="ui-block-title">
        <h6 class="title">{{model.title}}</h6>

    </div>



    <!-- W-Action -->

    <ul class="widget w-friend-pages-added notification-list friend-requests">
        <li class="inline-items" *ngFor="let u of users">
            <div class="author-thumb">
                <img [src]="u.pictureUrl || ''" alt="author">
            </div>
            <div class="notification-event">
                <user-link [user]="u" [linkClass]="'h6 notification-friend'"></user-link>
                <!-- <span class="chat-message-item">8 Friends in Common</span> -->
            </div>
            <!-- <span class="notification-icon">
                <a href="#" class="accept-request">
                    <span class="icon-add without-text">
                        <svg class="olymp-happy-face-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                    </span>
                </a>
            </span> -->
        </li>

    </ul>

    <!-- ... end W-Action -->
</div>