<div class="ui-block" *ngIf="user">

    <div class="ui-block-content">
        <div class="widget w-list">
            <h6 class="title">Danh Mục</h6>
            <ul>
                <li>
                    <a [routerLink]="['/app/user', user.userName]" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Trang Chủ</a>
                </li>
                <li>
                    <a [routerLink]="['/app/user', user.userName,'events']" routerLinkActive="active">Sự Kiện</a>
                </li>
                <li>
                    <a [routerLink]="['/app/user', user.userName,'friends']"  routerLinkActive #friendsActive="routerLinkActive" [ngClass]="{'active': friendsActive.isActive || friendRequestsActive.isActive }">Bạn Bè</a>
                </li>
                <li>
                    <a [routerLink]="['/app/user', user.userName,'requests']" routerLinkActive #friendRequestsActive="routerLinkActive" style="display: none">Requests</a>
                </li>
                <li *ngIf="user.isMine" >
                    <a [routerLink]="['/app/user', user.userName,'pages']" routerLinkActive="active">Trang</a>
                </li>
                <li *ngIf="user.isMine">
                    <a [routerLink]="['/app/user', user.userName,'settings']" routerLinkActive="active">Cài Đặt</a>
                </li>
                <li  *ngIf="false">
                    <a [routerLink]="['/app/user', user.userName,'about']" routerLinkActive="active">About</a>
                </li>
            </ul>
        </div>

        <div class="widget w-list" *ngIf="user.isMine">
            <h6 class="title">Liên Kết Nhanh</h6>
            <ul>
                <li>
                    <a [routerLink]="['/app/home']">Trang Chủ</a>
                </li>
                <li *ngFor="let p of userPage.pages">
                    <a [routerLink]="['/app/page',p.userName]">{{p.name}} <i class="fa fa-check-circle c-twitter" *ngIf="p.isVerified"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>