<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Bạn Bè</h6>
        <!-- <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a> -->
    </div>

    <!-- W-Action -->
    <ul class="widget w-friend-pages-added notification-list friend-requests">
        
            <app-user-friend-item *ngFor="let model of friendList" [model]="model">
            </app-user-friend-item>
    
    </ul>

    <!-- ... end W-Action -->
</div>