<div class="ui-block" *ngIf="true">

        <div class="ui-block-content">
            <div class="widget w-list">
                <h6 class="title">Sections</h6>
                <ul>
                    <li>
                        <!-- <a [routerLink]="['/app/user', user.userName,'admin/pages']">Pages</a> -->
                        <a [routerLink]="['/app/admin/pages']">Pages</a>
                    </li>
                    <li>
                        <a>Settings</a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                </ul>
            </div>
    
        </div>
    
    </div>