<!-- Header-BP -->

<header class="header" style="position: relative;" id="site-header">
   <!-- <div class="">-->

        <div class="header-logo">
            <img src="assets/logo.png" alt="Alumni">
        </div>
        <div class="page-title">
            <p class="head-title">Trường ĐH GTVT CS2</p>
            <p class="head-info">BAN LIÊN LẠC CỰU SINH VIÊN</p>
        </div>
        <div class="header-content-wrapper">
            <form class="search-bar w-search notification-list friend-requests" #searchForm="ngForm" method="post" novalidate (ngSubmit)="headerSearch()">
                <div class="form-group with-button">
                    <input class="form-control" placeholder="Search here people or pages..." type="text" [(ngModel)]="searchModel.keyword" name="keyword">
                    <button type="submit">
                        <svg class="olymp-magnifying-glass-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                    </button>
                </div>
            </form>

            <a [routerLink]="['home']" class="header-link">HOME</a>
            <a [routerLink]="['channels']" class="header-link">DIRECTORIES</a>
            <a [routerLink]="['users']" class="header-link">FAQ</a>
            <a href="#" class="header-link">CONTACT</a>

            <div class="control-block">

                <div class="author-page author vcard inline-items more" *ngIf="isLoggedin()">
                    <div class="author-thumb">
                        <img [src]="appSession.user.profile.pictureUrl" alt="author" class="avatar">
                        <span class="icon-status online"></span>
                        <div class="more-dropdown more-with-triangle">
                            <div class="mCustomScrollbar" data-mcs-theme="dark">
                                <div class="ui-block-title ui-block-title-small">
                                    <h6 class="title">Your Account</h6>
                                </div>

                                <ul class="account-settings">
                                    <li>
                                        <a href="javascript:void(0);">

                                            <svg class="olymp-menu-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>

                                            <span>Profile Settings</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0);" (click)="logout()">
                                            <svg class="olymp-logout-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

                                            <span>Log Out</span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="author-name fn">
                        <div class="author-title">
                            {{shownLoginName}} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="theme/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                        </div>
                        <span class="author-subtitle"></span>
                    </a>
                </div>
            </div>
        </div>
    <!--</div>-->
</header>

<!-- ... end Header-BP -->