html,
body,
p {
    font-family: "Roboto", sans-serif;
}

.btn svg {
    margin-bottom: 0px;
    margin-right: 3px;
}

.btn-n {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    line-height: 26px;
    padding: 0px 10px;
    background-clip: padding-box;
    min-width: 60px;
}

button.btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    /*box-sizing: content-box;*/
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    /*border-color: rgba(0, 0, 0, .4);*/
    border-radius: 0;
    /*line-height: 26px;*/
    /* padding: 0px 10px; */
    background-clip: padding-box;
    /* min-width: 60px; */
}
button.btn.btn-n {
    padding: 0px 10px;
}

.btn.btn-normal {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    background: #f5f6f7;
    color: #4b4f56;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    line-height: 26px;
    padding: 0px 10px;
    background-clip: padding-box;
    min-width: 60px;
}

.header-logo {
    padding: 5px;
    padding-left: 10px;
    float: left;
}

.header-logo img {
    width: 60px;
}

.header {
    background-color: #162c55;
}

.header .page-title {
    padding: 10px 30px 10px 15px;
    text-transform: uppercase;
    float: left;
    height: 100%;
    min-width: 300px;
}

.header .page-title .head-title {
    font-size: 14px;
    font-weight: 700;
}

.header .page-title .head-info {
    line-height: 1.5;
    font-size: 11px;
}

.search-bar.w-search {
    width: 350px;
    min-height: 70px;
    background-color: #494c62;
}

.search-bar .form-group.with-button input {
    height: 100%;
    border: none;
    color: #9a9fbf;
    font-size: 15px;
}

.global-container {
    max-width: 1012px;
    margin: 0 auto;
}

.container {
    padding: 0;
}

img.avatar {
    width: 36px;
    height: 36px;
}

.img-picture img {
    width: 120px;
    height: 120px;
}

.img-cover img {
    width: 1048px;
    height: 400px;
}

.img-cover-half img {
    width: 100%;
    height: auto;
}

.top-header.top-header-favorit .top-header-author {
    left: 50px;
    bottom: 15px;
    height: 60px;
}

.top-header-thumb img {
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    height: 100%;
}

.top-header.top-header-favorit .author-thumb {
    float: left;
    margin-right: 25px;
    border-radius: 0;
    margin-top: -20px;
    border: 2px solid #fff;
}

.top-header .top-header-command {
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 45px;
}

.top-header .top-header-command button {
    margin: 8px;
    margin-right: 16px;
}

.top-header.top-header-favorit .author-content {
    text-align: left;
    margin-top: 0;
    float: left;
    color: #fff;
}

.top-header-author .author-thumb img {
    width: 100%;
    border-radius: 0;
    overflow: hidden;
}

.header-content-wrapper .header-link {
    padding: 25px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
}

.profile-menu li > div.active,
.profile-menu li a.active {
    color: #ff5e3a;
}

.author-page {
    margin-left: 10px;
}

.form-group.small-input input {
    padding: 10px 15px;
}

.form-group.small-input.with-icon i,
.form-group.small-input.with-icon svg {
    margin-top: 5px;
    font-size: 15px;
    margin-left: -3px;
}

.form-group.small-input .input-group-addon {
    top: 12px;
}

.form-group.small-input select.form-control {
    padding: 0px 10px;
    height: 42px;
}

.form-group.small-input.with-icon-input:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0px !important;
    background-color: #e6ecf5;
    bottom: 0;
    left: 50px;
}
.form-group.has-error:after {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    background-color: #f92552;
    color: #fff;
    font-size: 9px;
    right: 20px;
    top: 50%;
    margin-top: 2px;
}
.form-group.with-icon:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0px;
    background-color: #e6ecf5;
    top: 0;
    left: 50px;
}

.form-group.small-input.with-icon .form-control {
    padding-left: 40px;
}

.float-right {
    float: right;
}

.fload-left {
    float: left;
}

.dropdown-menu {
    background: #f5f6f7;
    color: #4b4f56;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    background-clip: padding-box;
    padding: 1px 10px;
}

.dropdown-menu .dropdown-item {
    padding: 5px 5px;
}

.bootstrap-select.open .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display: none;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
    position: absolute;
}

.registration-login-form {
    padding-left: 0;
    min-height: auto;
}

.logo .logo-title {
    font-size: 15px;
}

.logo .sub-title {
    font-size: 11px;
}

.btn.disabled,
.btn:disabled {
    background-color: #9a9fbf;
    border-color: #9a9fbf;
    opacity: 0.8;
}

.w-intro.ui-block .ui-block-content {
    padding: 5px 10px;
}

.w-intro .ui-block-title {
    padding: 10px;
}

.w-intro .item-block li {
    padding: 10px 0;
}

.widget + .widget {
    margin-top: 20px;
}

.upload-img-holder {
    margin-bottom: 0;
    overflow: hidden;
}

.upload-img-holder li {
    width: 64px;
    height: 64px;
    padding: 2px;
    text-align: center;
    float: left;
    overflow: hidden;
    border: 1px #ffe5df solid;
    background-color: #fbf5f4;
}

.upload-img-holder li img {
    object-fit: cover;
    height: 64px;
    width: 100%;
}

.upload-img-holder .upload-loading {
    padding-top: 24px;
}

.upload-img-holder li.upload-loading img {
    object-fit: none;
    height: auto;
    width: 24px;
}
.daterangepicker.dropdown-menu {
    padding: 0;
}
.daterangepicker.single.ltr .calendar {
    padding: 0;
}
.post {
    padding: 25px 5px;
}

.post-block-photo {
    margin: 10px -5px;
}

.post-block-photo a img,
.post-block-photo span img {
    border-radius: 0px;
    width: 100%;
}

.post-block-photo a,
.post-block-photo span {
    float: left;
    overflow: hidden;
    padding: 1px;
}

.post .content-text {
    color: #1d2129;
    margin-bottom: 5px;
    text-align: justify;
    padding: 0 10px;
}

.more-photos:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: #ff5e3a;
    opacity: 0.6;
    border-radius: 3px;
}

.post-add-icon.active {
    fill: #ff5e3a;
    color: #ff5e3a;
}

.post-additional-info {
    padding: 10px 20px;
    border-bottom: 1px solid #e6ecf5;
    display: block;
    /* align-items: center; */
    margin-bottom: 10px;
    border-top: 0px;
}

.comment-form {
    padding: 25px;
    border-top: 1px solid #e6ecf5;
    margin-top: 5px;
    overflow: hidden;
}

.children .comment-item {
    border-left: 1px solid #e6ecf5;
    padding-bottom: 5px;
}

.load-more {
    font-size: 13px;
    color: #888da8;
    padding: 5px;
    display: inline-block;
    font-weight: 500;
    padding-left: 10px;
    /*text-align: center;
    margin: 0 auto;
    width: 100%;*/
}

.comments-list .comment-item {
    border-bottom: 0px solid #e6ecf5;
    background-color: #fafbfd;
    position: relative;
    padding: 5px 20px;
}

.comments-list .post__author img {
    width: 36px;
    height: 36px;
}

.comments-list .children .post__author img {
    width: 26px;
    height: 26px;
}

.comment-item .comment-content {
    background-color: #edf2f6;
    padding: 10px;
    padding-top: 10px;
    min-height: 40px;
    border-radius: 10px;
}

.comment-item .post__date {
    margin-left: 10px;
    padding-left: 45px;
}

.children .comment-item .post__date {
    margin-left: 10px;
    padding-left: 30px;
}

.children .comment-item {
    border-left: 0px solid #e6ecf5;
}

.children .comment-item:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 40px;
    left: -5px;
    background-color: #fafbfd;
    border-radius: 100%;
    border: 0px solid #c2c5d9;
    z-index: 13;
}

.comment-item .comment-tools {
    display: block;
}

.comment-item .reply {
    margin-left: 10px;
    font-weight: 500;
}

.comment-item .comment-text {
    color: #101010;
    font-size: 12px;
}

.comment-item .post__author {
    margin-bottom: 5px;
}

.comment-item .post__author-name {
    margin-right: 5px;
    font-weight: 500;
    color: #636262;
    font-size: 12px;
}

.comment-item .post__date,
.reply {
    margin-left: 10px;
}

.comment-item .children {
    padding: 0px 20px;
    padding-top: 0;
    border-top: 0px;
    padding-left: 56px;
    margin-top: 0px;
}

.page-list .friend-groups .friend-item-content {
    padding: 25px;
    padding-top: 48px;
}

.page-list .friend-groups .friend-avatar .author-thumb {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    line-height: 80px;
    background-color: #d7d9e5;
    margin-bottom: 25px;
    overflow: hidden;
}

.page-name-header {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    display: block;
}

.no-friends {
    color: #d7d9e5;
    padding: 65px 30px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.no-friends svg {
    fill: #d7d9e5;
    margin-bottom: 20px;
    width: 36px;
    height: 36px;
}

.no-friends span {
    font-size: 14px;
    display: block;
}

.event-item .picture {
    padding: 0 !important;
    height: 128px;
    width: 128px;
    margin: 0 auto;
}

.event-item .description {
    max-width: 100%;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
}

.event-item .date-event .olymp-small-calendar-icon {
    width: 25px;
    height: 25px;
}

.date-event .day {
    font-size: 25px;
    color: #515365;
    font-weight: 700;
    margin-bottom: 3px;
}

.date-event .month {
    font-size: 10px;
    text-transform: uppercase;
}

.friends-left.w-faved-page {
    overflow: hidden;
    margin: 0 0 0px 0px;
}

.friends-left.w-faved-page li {
    margin: 0 0 5px 5px;
    float: left;
    width: 96px;
    height: 96px;
    border-radius: 0;
    overflow: hidden;
}

.popover-body {
    padding: 0;
    color: #212529;
}

.user-link .friend-item {
    border-radius: 0;
    overflow: hidden;
}

.user-link .friend-item-content {
    padding: 0;
    text-align: center;
    position: relative;
}

.user-link .friend-avatar {
    margin-top: -49px;
    position: relative;
    margin-bottom: 0;
}

.user-link .author-thumb {
    margin-right: 0;
}

.user-link .control-block-button {
    top: 0;
    right: 0;
}

.user-link .friend-avatar .author-thumb img {
    margin-right: 0;
}

.user-link .btn {
    margin-bottom: 15px;
}

btn btn-secondary btn-sm svg {
    height: 22px;
}
.swal-title {
    font-size: 20px;
}
.swal-button.swal-button--confirm {
    background-color: #ff5e3a;
}
/*
    Custom class for objects

*/
.user-page-item {
    height: auto;
    position: relative;
    min-height: 250px;
}
.user-page-item.create-page {
    padding-top: 30%;
    min-height: 250px;
}

.user-page-item .upi-item-container {
    text-align: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.user-page-item .upi-item-content {
    padding: 10px;
    padding-top: 48px;
    text-align: center;
    position: relative;
}

.user-page-item .upi-item-cover-img {
    position: absolute;
    border-bottom: 1px solid #e6ecf5;
    overflow: hidden;
    max-height: 80px;
}

.user-page-item .upi-item-avatar-img {
    position: relative;
    width: 64px;
    /* height: auto; */
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 15px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: #fff;
}

.user-page-item .upi-item-avatar-img img {
    border-radius: 100%;
}

.user-page-item .upi-page-info {
}

.user-page-item .upi-page-info .name {
}

.user-page-item .upi-page-info .description {
    font-size: 12px;
}

.user-page-item .upi-page-stats {
    margin: 15px;
    margin-bottom: 25px;
}

.user-page-item .upi-page-stats .likes {
    display: inline-block;
    margin-right: 25px;
}

.user-page-item .upi-page-stats .follows {
    display: inline-block;
    margin-right: 0;
}

/*.page-name-header {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    display: block;
}*/
.event-detail {
}
.event-item-picture {
    margin: -30px -30px 10px -30px;
    height: 256px;
    background-color: rgba(0, 0, 0, 0.14);
    overflow: hidden;
}
.event-item-header .ei-date {
    text-align: center;
    display: inline-block;
}
.event-item-header .ei-date-m {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #ff5e3a;
    text-transform: uppercase;
}
.event-item-header .ei-date-d {
    font-size: 24px;
    line-height: 24px;
}
.ei-title {
    display: inline-block;
    margin-left: 15px;
    padding: 10px;
    font-size: 16px;
    color: #1d2129;
    font-size: 19px;
    font-weight: normal;
    line-height: 28px;
}
.event-item-table .author-date a {
    color: #ff5e3a;
}
.ei-desc {
    color: #90949c;
    font-size: 14px;
    line-height: 18px;
    margin: 2px 12px 0 0;
}
.event-item-addtional {
    padding: 10px;
    border-bottom: 1px solid #d7d9e5;
    padding-left: 0px;
}
.event-item-info {
    margin-top: 10px;
}
.event-item-info li {
    display: block;
    clear: both;
    padding: 5px 0px;
}
.event-item-info li .title {
    display: block;
    float: left;
    margin-right: 5px;
}
.event-item-info li .text {
    display: block;
    text-align: justify;
}
