
<div class="row">

    <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-1 col-md-12 col-sm-12 col-12">
        <!-- Main Content -->
        <div class="row">
        
            <div class="col col-xl-8 order-xl-1 col-lg-8 order-lg-1 col-md-12 col-sm-12 col-12">
                <div id="newsfeed-items-grid">

                    <div class="ui-block">

                        <div class="ui-block">
                          This is user page
                        </div>
                    </div>

                </div>

                
            </div>

            <div class="col col-xl-4 order-xl-2 col-lg-4 order-lg-2 col-md-6 col-sm-12 col-12">

                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Community</h6>
                    </div>
                </div>
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">About</h6>
                    </div>
                    <div class="ui-block-content">

                        <!-- W-Personal-Info -->
                        <ul class="">
                            <li class="inline-items">
                                <div class="">
                                    <i class="fab fa-skype c-twitter" aria-hidden="true"></i>
                                </div>
                                <div class="">
                                    <span class="chat-message-item">Đây là trang kết nối các bạn sinh viên ĐH GTVT đã ra trường. Được quản lý bởi đội ngũ các cán bộ trong Ban Đào Tạo và Hội cựu sinh viên trường ĐH GTVT.</span>
                                </div>
                                
                            </li>
                            <li class="inline-items">
                                <div class="">
                                    <i class="fab fa-skype c-twitter" aria-hidden="true"></i>
                                </div>
                                <div class="">
                                    <span class="chat-message-item">450 Lê Văn Việt, Tăng Nhơn Phú A, Quận 9, Hồ Chí Minh.</span>
                                </div>
                                
                            </li>
                            <li class="inline-items">
                                <div class="">
                                    <i class="fab fa-skype c-twitter" aria-hidden="true"></i>
                                </div>
                                <div class="">
                                    <span class="chat-message-item">028 3896 6798</span>
                                </div>
                                
                            </li>
                        </ul>



                        <!-- ... end W-Socials -->
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-2 col-md-6 col-sm-12 col-12">
        <div>

        </div>
    </div>


</div>