<div class="container">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12">
             <router-outlet></router-outlet>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 pl-0">
            <div class="ui-block">
                <div class="your-profile">
                    <div class="ui-block-title ">
                        <span class="text-bold title">Quản Lý Cá Nhân</span>
                    </div>

                    <ul class="your-profile-menu">
                        <li>
                            <a [routerLink]="['/app/user',model.userName,'settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Thông Tin Cá Nhân</a>
                        </li>
                        <li>
                            <a [routerLink]="['/app/user',model.userName,'settings','picture']" routerLinkActive="active">Cài Đặt Hình Ảnh</a>
                        </li>
                        <li>
                            <a [routerLink]="['/app/user',model.userName,'settings','account']" routerLinkActive="active">Cài Đặt Tài Khoản</a>
                        </li>
                        <li>
                            <a [routerLink]="['/app/user',model.userName,'settings','education']" routerLinkActive="active">Giáo Dục</a>
                        </li>
                    </ul>
                  

                </div>
            </div>
        </div>
    </div>
</div>