<div class="container">
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12">
             <router-outlet></router-outlet>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 pl-0">
            <div class="ui-block">
                <div class="your-profile">
                    <div class="ui-block-title ">
                        <span class="text-bold title">Manage Profile</span>
                    </div>

                    <ul class="your-profile-menu">
                        <li>
                            <a [routerLink]="['/app/user',model.userName,'settings']">Personal Information</a>
                        </li>
                        <li>
                            <a [routerLink]="['/app/user',model.userName,'settings','picture']">Picture Settings</a>
                        </li>
                        <li>
                            <a [routerLink]="['/app/user',model.userName,'settings','account']">Account Settings</a>
                        </li>
                        <li>
                            <a [routerLink]="['/app/user',model.userName,'settings','education']">Education</a>
                        </li>
                    </ul>
                  

                </div>
            </div>
        </div>
    </div>
</div>